.shippingContainer{
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shippingBox{
    background-color: white;
    width: 25vw;
    height: 90vh;
    box-sizing: border-box;
    overflow: hidden;
    /* margin-top: 15px; */
}
.shippingHeader{
    text-align: center;
    color: chocolate;
    font: 400 1.3vmax;
    font-size:28px;
    padding: 1.3vmax;
    border-bottom: 1px solid rgb(68, 67, 67);
    width: 100%;
    margin: auto;
}
.shippingForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    transition: all 0.5s;
}
.shippingForm > div{
    display: flex;
    width: 100%;
    align-items: center;
}  
.shippingForm > div > input,
.shippingForm > div > select{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;
    font : 300 1vmax cursive;
    outline: none;
}
.shippingForm > div > svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.938);
}
.shippingBtn{
    border: none;
    background-color: rgb(206, 199, 133);
    color: black;
    font:300;
    width: 80%;
    font-size: 15px;
    padding: 1vmax;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    margin: 1vmax;
}